<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head::head(${head})">
</head>
<body>
<header th:replace="layout/header::header(${header})"></header>
<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">URL hex encryption tool</h1>
                        <p>URL网址16进制加密工具</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="company-information" class="choose">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <div th:replace="kitbox/menu::menu('encrypt','url16')"></div>
            </div>
            <div class="col-sm-9 col-md-9">
                <div class="" style="margin: auto;max-width: 600px;">
                    <div class="form-group">
                        <h2>URL网址16进制加密工具</h2>
                        <label for="quantity" class="col-sm-2 control-label" style="line-height: 40px;">URL:</label>
                        <div class="col-sm-10">
                            <div class="input-group" id="quantity">
                                <textarea id="quantityNumber" name="quantityNumber" class="form-control"
                                          rows="4"></textarea>
                                <div class="input-group-addon btn btn-primary" onclick="generate()">16进制加密</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="quantity" class="col-sm-2 control-label" style="line-height: 40px;">URL-16:</label>
                        <div class="col-sm-10">
                            <textarea id="data" name="data" class="form-control"
                                      rows="4"></textarea>
                        </div>
                    </div>
                    <div>
                        <div class="col-sm-12">
                            <blockquote style="font-size: 14px;">
                                <p>把URL网址转换成16进制代码形式,加密后可直接复制到地址栏访问</p>
                                <footer>URL编码形式表示的ASCII字符(十六进制格式)
                                </footer>
                            </blockquote>
                        </div>
                    </div>
                    <div th:replace="ads/ads::ads('3646319863')"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function generate() {
        var str = $("#quantityNumber").val();
        var str2 = '';
        var str3 = str.substring(0, 7);
        if (str3 == 'http://') {
            str2 = 'http://';
            str = str.substring(7, str.length);
        }
        if (str3 == 'https://') {
            str2 = 'https://';
            str = str.substring(8, str.length);
        }
        for (var i = 0; i < str.length; i++) {
            if (str.charCodeAt(i) == '47') str2 += '/';
            else if (str.charCodeAt(i) == '63') str2 += '?';
            else if (str.charCodeAt(i) == '38') str2 += '&';
            else if (str.charCodeAt(i) == '61') str2 += '=';
            else if (str.charCodeAt(i) == '58') str2 += ':';
            else str2 += '%' + str.charCodeAt(i).toString(16);
        }
        $("#data").val(str2);
    }
</script>
<footer th:replace="layout/footer::footer(${footer},${performance})"></footer>
</body>
</html>