<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <body>
        <header th:fragment="header(header)" class="site-header px-3">
            <div class="headeline"></div>
            <div class="d-flex container py-3">
                <div class="d-flex col-4 col-12 flex-items-center">
                    <a th:href="${header.domain}" class="d-flex">
                        <img src="https://cdn.neilren.com/neilren4j/upload/557e9977103248b789c81f1cb082c091.jpeg"
                             width="28" height="28" style="height: 28px;">
                        <h1 class="h4 pl-3 mt-1 text-normal" th:text="${header.siteName}">The RenFei Blog</h1>
                    </a>
                </div>
                <div class="d-flex col-8 col-6 flex-justify-end">
                    <div class="d-none d-lg-flex flex-items-center">
                        <nav id="primary-nav">
                            <ul class="d-flex flex-self-center">
                                <li>
                                    <a href="#">Home</a>
                                </li>
                                <li>
                                    <a href="#">Categories</a>
                                    <ul>
                                        <li>
                                            <a href="#">Home</a>
                                        </li>
                                        <li>
                                            <a href="#">Home</a>
                                        </li>
                                        <li>
                                            <a href="#">Home</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Archives</a>
                                    <ul>
                                        <li>
                                            <a href="#">Home</a>
                                        </li>
                                        <li>
                                            <a href="#">Home</a>
                                        </li>
                                        <li>
                                            <a href="#">Home</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">KitBox</a>
                                </li>
                                <li>
                                    <a href="#">About</a>
                                </li>
                                <li>
                                    <a href="#">More</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="header-search d-flex mx-3 flex-justify-end">
                            <button type="button" class="px-2 btn btn-outline btn-link">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <!--serch-->
                    <!--btn-->
                </div>
            </div>
        </header>
    </body>
</html>