<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head::head(${head})">
</head>
<body>
<div id="index">
    <header th:replace="layout/header::header(${header})"></header>
    <div class="banner">
        <img src="./img/图层 0.png" alt="">
        <div class="lltext">
            <h1>前</h1>
            <h1>言</h1>
            <p>
                党的十九大以来，以习近平同志为核心的党中央一以贯之、坚定不移推进全面从严治党，贯彻落实新时代党的建设总要求，坚持把党的政治建设摆在首位，深化运用监督执纪“四种形态”，惩治群众身边腐败问题，完善党和国家监督体系，夺取了反腐败斗争压倒性胜利。近年来，中船集团党组高度重视全面从严治党，始终以习近平新时代中国特色社会主义思想为指导，按照党中央、中央纪委国家监委和国务院国资委党委部署，领导各级党组织认真履行全面从严治党主体责任，扎实推进各项任务落地落实。
            </p>
            <p>
                为进一步深入学习贯彻习近平新时代中国特色社会主义思想和党的十九大精神，积极落实党中央“不忘初心，牢记使命”主题教育要求，2019年5月以来，集团公司纪检监察组组织开展了以“寻找中船廉洁之美”为主题的廉洁文化作品作品征集、评审和展示活动。截至8月底，本次活动共征集包括廉洁故事、家书家规家训、书画作品、微视频、摄影等五类作品共计XX件，通过初评、复评和终评遴选出一批融合政治性、思想性、艺术性为一体的廉洁文化精品进行集中展示。这些作品充分宣传展现了近年以来中船集团全面从严治党、党风廉政建设和反腐败斗争的生动实践，挖掘各地区各单位各部门在红色革命、爱国主义、传统文化中的廉洁文化基因。我们希望通过这些廉洁文化作品，宣传廉洁理念，传播廉洁文化，引导广大党员干部赓续党的优良作风，守初心、担使命，找差距、抓落实，永葆家国情怀和军工报国的赤子之心，努力营造风清气正的良好氛围，助推中船集团高质量发展，向新中国成立70周年献礼！
            </p>
        </div>
    </div>
    <footer th:replace="layout/footer::footer(${footer},${performance})"></footer>
</div>
</body>
</html>