<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head::head(${head})">
</head>
<body>
<header th:replace="layout/header::header(${header})"></header>
<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">Posts</h1>
                        <p>The RenFei Blog</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="blog" class="padding-top">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-7">
                <div th:if="${globalAD=='1'}" th:replace="ads/ads::ads('6116570539')" style="padding: 0 10px 10px 0;">
                </div>
                <div class="row">
                    <div th:if="${postsVOList!=null}" th:each="info:${postsVOList}"
                         class="col-md-6 col-sm-12 blog-padding-right">
                        <div class="single-blog two-column">
                            <div class="post-thumb weibo_radius">
                                <a th:href="${domain}+'/posts/'+${info.id}" target="_blank">
                                    <img th:src="${info.featuredImage}" class="img-responsive"
                                         th:alt="${info.title}">
                                </a>
                            </div>
                            <div class="post-content overflow">
                                <a th:href="${domain}+'/posts/'+${info.id}" target="_blank">
                                    <h2 class="post-title bold" th:text="${info.title}"></h2>
                                </a>
                                <h3 class="post-author">
                                    <a th:text="${#dates.format(info.releaseTime,'yyyy-MM-dd HH:mm:ss')}"></a>
                                </h3>
                                <p th:text="${#strings.abbreviate(info.describes,150)}"
                                   style="height: 100px;line-height:130%;"></p>
                                <div class="post-bottom overflow">
                                    <ul class="nav nav-justified post-nav">
                                        <li><a th:utext="'<i class=\'fa fa-eye\'></i>'+${info.views}"></a></li>
                                        <li>
                                            <a th:utext="'<i class=\'fa fa-thumbs-o-up\'></i><span>'+${info.thumbsUp}+'</span>'"
                                               href="JavaScript:void(0)"
                                               th:onclick="'thumbsService(this,\'up\',1,'+${info.id}+')'"></a></li>
                                        <li><a th:utext="'<i class=\'fa fa-comments\'></i>'+${info.comments}"></a></li>
                                        <li>
                                            <a th:href="${domain}+'/cat/'+${info.categoryTypeName}+'/'+${info.categoryEnName}"
                                               th:utext="'<i class=\'fa fa-tag\'></i>'+${info.categoryZhName}"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div th:if="${globalAD=='1'}" th:replace="ads/ads::ads('3646319863')"></div>
                <div class="blog-pagination">
                    <div th:replace="layout/pagination::pagination(${pagination})"></div>
                </div>
            </div>
            <div class="col-md-3 col-sm-5">
                <div th:replace="layout/sidebar::sidebar(${sidebar})"></div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="layout/footer::footer(${footer},${performance})"></footer>
</body>
</html>