<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head::head(${head})">
</head>
<body>
<style>
    .lightbox{
        position: initial;
    }
</style>
<header th:replace="layout/header::header(${header})"></header>
<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title" th:text="${postsVO.title}">Blog Details</h1>
                        <p th:text="${(postsVO.releaseTime==null?'Unknown':#dates.format(postsVO.releaseTime,'yyyy-MM-dd HH:mm:ss'))}">
                            Blog with right sidebar</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="blog-details" class="padding-top">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-7">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="single-blog blog-details two-column">
                            <div class="post-thumb" th:if="${postsVO.featuredImage!=null}">
                                <a href="#"><img th:src="${postsVO.featuredImage}" class="img-responsive" alt=""></a>
                                <div class="post-overlay">
                                    <span class="uppercase">
                                        <a th:utext="${#dates.format(postsVO.releaseTime,'d')}+'<br><small>'+${#dates.format(postsVO.releaseTime,'MMM')}+'</small>'"></a>
                                    </span>
                                </div>
                            </div>
                            <div class="post-content overflow">
                                <h2 class="post-title bold" style="height: auto;">
                                    <a th:text="${postsVO.title}">Advanced business cards design</a>
                                </h2>
                                <h3 class="post-author">
                                    <a th:utext="'<i class=\'fa fa-calendar\'></i> '+${(postsVO.releaseTime==null?'Unknown':#dates.format(postsVO.releaseTime,'yyyy-MM-dd HH:mm:ss'))}"></a>
                                    <a th:utext="'<i class=\'fa fa-eye\'></i> '+${(postsVO.views==null?'Unknown':postsVO.views)}"></a>
                                    <a th:utext="'<i class=\'fa fa-user\'></i> '+${(postsVO.isOriginal?'原创':postsVO.sourceName)}"
                                       th:href="${postsVO.isOriginal?'javascript:void(0)':postsVO.sourceUrl}"></a>
                                </h3>
                                <div class="renfei-content">
                                    <p th:utext="${postsVO.content}">

                                    </p>
                                </div>
                                <div class="post-bottom overflow">
                                    <ul class="nav navbar-nav post-nav">
                                        <li>
                                            <a th:href="${domain}+'/cat/'+${postsVO.categoryTypeName}+'/'+${postsVO.categoryEnName}"
                                               th:utext="'<i class=\'fa fa-tag\'></i>'+${postsVO.categoryZhName}"></a>
                                        </li>
                                        <li><a th:utext="'<i class=\'fa fa-eye\'></i>'+${postsVO.views}+' Views'"></a>
                                        </li>
                                        <li>
                                            <a th:utext="'<i class=\'fa fa-comments\'></i>'+${postsVO.comments}+' Comments'"></a>
                                        </li>
                                    </ul>
                                </div>
                                <div th:replace="layout/share::share"></div>
                                <div class="sidebar blog-sidebar" th:if="${related!=null}">
                                    <div class="sidebar-item  recent">
                                        <h3>Related Posts</h3>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="media" th:each="rel,relStat:${related.postsList}"
                                                     th:if="${relStat.index<5}">
                                                    <div class="media-body">
                                                        <h4 style="white-space: nowrap;"><a
                                                                th:href="${domain+'/posts/'+rel.id}"
                                                                th:text="${rel.title}"></a></h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="media" th:each="rel,relStat:${related.postsList}"
                                                     th:if="${relStat.index>4}">
                                                    <div class="media-body">
                                                        <h4 style="white-space: nowrap;"><a
                                                                th:href="${domain+'/posts/'+rel.id}"
                                                                th:text="${rel.title}"></a></h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div th:if="${globalComment=='1'&&postsVO.isComment}" style="padding-top: 10px;">
                                    <div th:replace="layout/comments::comments(${commentTypeId},${commentObjId},${commentVO})"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-5">
                <div th:replace="layout/sidebar::sidebar(${sidebar})"></div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="layout/footer::footer(${footer},${performance})"></footer>
<script>
    $(function () {
        $(".renfei-content img").each(function () {
            $(this).attr('width', "100%");
            var strA = "<a class=\"lightbox\" href='" + this.src + "'></a>";
            $(this).wrapAll(strA);
        });
        baguetteBox.run('.renfei-content');
    });

    function mashiroToc(mashiro) {
        // 初始化
        if (mashiro) {
            var id = 1;
            $("#posts").children("h1,h2,h3,h4,h5").each(function () {
                //var hyphenated = $(this).text().replace(/\s/g, '-');
                var hyphenated = "mashiro-" + id;
                $(this).attr('id', hyphenated);
                id++;
            });
            // 初始化 tocbot.js
            tocbot.init({
                tocSelector: '#toc',
                contentSelector: '#posts',
                headingSelector: 'h1, h2, h3, h4, h5',
                positionFixedSelector: "#toc"
            });
        }
    }

    mashiroToc(true);
</script>
</body>
</html>