<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head::head(${head})">
</head>
<body>
<header th:replace="layout/header::header(${header})"></header>
<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">Photo</h1>
                        <p>The RenFei Web Albums</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="projects" class="padding-top">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-8">
                <div class="row">

                    <div th:if="${photoList!=null}" th:each="photo:${photoList}"
                         class="col-xs-6 col-sm-6 col-md-4 portfolio-item branded logos">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <a th:href="${'/photo/'+photo.id}">
                                        <img th:src="${photo.featuredImage}" class="img-responsive" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                <a th:href="${'/photo/'+photo.id}"><h2 th:text="${photo.title}"></h2></a>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="blog-pagination">
                        <div th:replace="layout/pagination::pagination(${pagination})"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4">
                <div th:replace="layout/sidebar::sidebar(${sidebar})"></div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="layout/footer::footer(${footer},${performance})"></footer>
</body>
</html>