<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head::head(${head})">
</head>
<body>
<header th:replace="layout/header::header(${header})"></header>
<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">Video</h1>
                        <p>The RenFei Vlog</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="blog" class="padding-top">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-7">
                <div class="row">
                    <div th:if="${videoDTOList!=null}" th:each="info:${videoDTOList}" class="col-md-6 col-sm-12 blog-padding-right">
                        <div class="single-blog two-column">
                            <div class="post-thumb">
                                <a th:href="${domain}+'/video/'+${info.id}">
                                    <img th:src="${info.featuredImage}" class="img-responsive" alt=""></a>
                                <div class="post-overlay">
                                    <span class="uppercase">
                                        <a th:href="${domain}+'/video/'+${info.id}"
                                                               th:utext="${#dates.format(info.releaseTime,'d')}+
                                                               '<br><small>'+${#dates.format(info.releaseTime,'MMM')}+
                                                               '</small>'"></a></span>
                                </div>
                            </div>
                            <div class="post-content overflow">
                                <h2 class="post-title bold"><a th:href="${domain}+'/video/'+${info.id}" th:text="${info.title}">Advanced business cards design</a></h2>
                                <h3 class="post-author"><a href="#" th:text="${#dates.format(info.releaseTime,'EEE, dd MMM HH:mm:ss')+' GMT+8 '+#dates.format(info.releaseTime,'yyyy')}"></a></h3>
                                <p th:text="${#strings.abbreviate(info.describes,150)}"></p>
                                <a th:href="${domain}+'/video/'+${info.id}">View More</a>
                                <div class="post-bottom overflow">
                                    <ul class="nav nav-justified post-nav">
                                        <li><a th:href="${domain}+'/cat/'+${info.categoryTypeName}+'/'+${info.categoryEnName}" th:utext="'<i class=\'fa fa-tag\'></i>'+${info.categoryZhName}"></a></li>
                                        <li><a th:utext="'<i class=\'fa fa-eye\'></i>'+${info.views}+'Views'"></a></li>
                                        <li><a th:utext="'<i class=\'fa fa-comments\'></i>'+${info.comments}+' Comments'"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog-pagination">
                    <div th:replace="layout/pagination::pagination(${pagination})"></div>
                </div>
            </div>
            <div class="col-md-3 col-sm-5">
                <div th:replace="layout/sidebar::sidebar(${sidebar})"></div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="layout/footer::footer(${footer},${performance})"></footer>
<script th:inline="javascript">
    var domain = [[${domain}]];
    var page = [[${page}]];

    function nextPage() {
        window.location.href = domain + '/posts?page=' + (page + 1);
    }
</script>
</body>
</html>