<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head::head(${head})">
</head>
<body>
<style>
    main {
        text-align: left;
    }
</style>
<!-- Preload -->
<link
        rel="preload"
        as="font"
        crossorigin
        type="font/woff2"
        href="/font/plyr/gordita-medium.woff2"
/>
<link
        rel="preload"
        as="font"
        crossorigin
        type="font/woff2"
        href="/font/plyr/gordita-bold.woff2"
/>
<header th:replace="layout/header::header(${header})"></header>
<section id="blog-details" class="padding-top" style="padding-top: 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-7">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="single-blog blog-details two-column">
                            <div class="post-thumb">
                                <video style=""
                                       controls
                                       crossorigin
                                       playsinline
                                       th:poster="${video.featuredImage}"
                                       id="player"
                                >
                                    <!-- Video files -->
                                    <source th:if="${video.videoSource!=null}" th:each="source:${video.videoSource}"
                                            th:src="${source.videoSrc}"
                                            th:type="${source.videoType}"
                                            th:size="${source.videoSize}"
                                    />
                                    <!-- Caption files -->
                                    <track th:if="${video.videoTrack!=null}" th:each="track:${video.videoTrack}"
                                           th:kind="${track.kind}"
                                           th:label="${track.label}"
                                           th:srclang="${track.srclang}"
                                           th:src="${track.src}"
                                    />
                                    <!-- Fallback for browsers that don't support the <video> element -->
                                    <a th:if="${video.download!=null}" th:href="${video.download}" download>Download</a
                                    >
                                </video>
                            </div>
                            <div class="post-content overflow">
                                <h2 class="post-title bold"><a th:text="${video.title}"></a></h2>
                                <h3 class="post-author">
                                    <button type="button" class="btn btn-xs btn-default"
                                            th:utext="'<i class=\'fa fa-calendar\'></i> '+${(video.releaseTime==null?'Unknown':#dates.format(video.releaseTime,'yyyy-MM-dd HH:mm:ss'))}"></button>
                                    <button type="button" class="btn btn-xs btn-default"
                                            th:utext="'<i class=\'fa fa-eye\'></i> '+${(video.views==null?'Unknown':video.views)}"></button>
                                </h3>
                                <p th:utext="${video.describes}"></p>
                                <div th:replace="layout/share::share(${sharevo})"></div>
                                <div class="post-bottom overflow" style="margin-top:10px;margin-bottom: 20px;">
                                    <ul class="nav navbar-nav post-nav">
                                        <li><a th:utext="'<i class=\'fa fa-eye\'></i>'+${video.views}"></a>
                                        </li>
                                        <li><a th:utext="'<i class=\'fa fa-thumbs-o-up\'></i><span>'+${video.thumbsUp}+'</span>'" href="JavaScript:void(0)" th:onclick="'thumbsService(this,\'up\',3,'+${video.id}+')'"></a></li>
                                        <li><a th:utext="'<i class=\'fa fa-thumbs-o-down\'></i><span>'+${video.thumbsDown}+'</span>'" href="JavaScript:void(0)" th:onclick="'thumbsService(this,\'down\',3,'+${video.id}+')'"></a></li>
                                        <li>
                                            <a th:utext="'<i class=\'fa fa-comments\'></i>'+${video.comments}"></a>
                                        </li>
                                        <li>
                                            <a th:href="${domain}+'/cat/'+${video.categoryTypeName}+'/'+${video.categoryEnName}"
                                               th:utext="'<i class=\'fa fa-tag\'></i>'+${video.categoryZhName}"></a>
                                        </li>
                                    </ul>
                                </div>
                                <div th:if="${globalComment=='1'&&video.isComment}">
                                    <div th:replace="layout/comments::comments(${commentTypeId},${commentObjId},${commentVO})"></div>
                                </div>
                                <!--/Response-area-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-5">
                <div th:replace="layout/sidebar::sidebar(${sidebar})"></div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="layout/footer::footer(${footer},${performance})"></footer>
<!-- Polyfills -->
<script
        src="https://cdn.polyfill.io/v3/polyfill.min.js?features=es6,Array.prototype.includes,CustomEvent,Object.entries,Object.values,URL,Math.trunc&flags=gated"
        crossorigin="anonymous"
></script>

<!-- Sharing libary (https://shr.one) -->
<script src="https://cdn.shr.one/2.0.0-beta.2/shr.js" crossorigin="anonymous"></script>
<!-- Docs script -->
<script src="/font/plyr/video.js" crossorigin="anonymous"></script>
</body>
</html>