<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head::head(${head})">
</head>
<body>
<header th:replace="/layout/header::header(${header})"></header>
<main class="site-main" id="site-main">
    <section class="post-feed">
        <div class="container">
            <div th:utext="${pageVO.content}"></div>
            <div class="clear"></div>
        </div>
    </section>
</main>
<footer th:replace="layout/footer::footer(${footer},${performance})"></footer>
</body>
</html>