<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head::head(${head})">
</head>
<body>
<header th:replace="layout/header::header(${header})"></header>
<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">404 - Not Found</h1>
                        <p>抱歉-您访问的页面不存在！</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="company-information" class="choose">
    <div class="container">
        <div class="row" style="padding: 20px 0;">
            <p>您可以尝试使用搜索功能来寻找您想要的内容</p>
            <form id="search_form" class="form-inline" action="/search" accept-charset="UTF-8" method="get">
                <div class="form-group" style="width: 100%;">
                    <div class="input-group" style="width: 100%;">
                        <input
                                aria-label="Search RenFei.Net"
                                autocapitalize="off"
                                autocomplete="off"
                                autofocus
                                class="form-control input-lg"
                                data-hotkey="s"
                                name="q"
                                placeholder="Search RenFei.Net"
                                spellcheck="false"
                                type="text"
                        >
                        <span class="input-group-addon btn btn-default" onclick="search()">Search</span>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0ms">
                <img id="error404img" src="" alt="">
            </div>
            <div class="col-sm-6 padding-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0ms">
                <h2>页面找不回来了，但我们可以一起帮他们回家</h2>
                <p><strong>特征描述：</strong><span
                        id="child_feature"></span></p>
                <ul class="elements">
                    <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
                            class="fa fa-angle-right"></i> <strong style="font-size: 22px;"><span
                            id="name"></span>(<span
                            id="sex"></span>)</strong></li>
                    <li class="wow fadeInUp" data-wow-duration="800ms" data-wow-delay="200ms"><i
                            class="fa fa-angle-right"></i> <strong>出生日期：</strong><span id="birth_time"></span>
                    </li>
                    <li class="wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms"><i
                            class="fa fa-angle-right"></i> <strong>失踪日期：</strong><span id="lost_time"></span>
                    </li>
                    <li class="wow fadeInUp" data-wow-duration="600ms" data-wow-delay="400ms"><i
                            class="fa fa-angle-right"></i> <strong>失踪地点：</strong><span id="lost_place"></span>
                    </li>
                </ul>
                <a href="JavaScript:void(0)" id="404url"
                   class="btn btn-primary"
                   data-animation-delay="60"
                   style="margin-bottom: 5px;" target="_blank">
                    查看详情
                </a>
            </div>
        </div>
    </div>
</section>

<footer th:replace="layout/footer::footer(${footer},${performance})"></footer>
<script src="//qzonestyle.gtimg.cn/qzone/v6/portal/gy/404/data.js"></script>
<script th:inline="javascript">
    $(function () {
        if (jsondata != undefined) {
            var num = Math.random() * jsondata.data.length;
            num = parseInt(num, 10);
            $('#error404img').attr("src", jsondata.data[num].child_pic);
            $('#name').html(jsondata.data[num].name);
            $('#sex').html(jsondata.data[num].sex);
            $('#birth_time').html(jsondata.data[num].birth_time);
            $('#lost_time').html(jsondata.data[num].lost_time);
            $('#lost_place').html(jsondata.data[num].lost_place);
            $('#child_feature').html(jsondata.data[num].child_feature);
            $('#404url').attr('href', jsondata.data[num].url);
        } else {
            $('#xuanchuan').hide();
        }
    });
</script>
</body>
</html>