<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <body>
        <footer id="footer" th:fragment="footer(footer,performance)" class="footer mt-6 ">
            <div class="container p-responsive">
                <div class="d-flex flex-wrap py-5 mb-5">
                    <div class="col-12 col-lg-4 mb-5">
                        <a href="/">
                            <img src="https://cdn.neilren.com/neilren4j/upload/557e9977103248b789c81f1cb082c091.jpeg"
                                 width="84" height="30">
                        </a>
                    </div>
                    <div th:if="${footer.footerMenu!=null}"
                         th:each="menu:${footer.footerMenu}"
                         class="bs col-6 col-sm-3 col-lg-2 mb-6 mb-md-2 pr-3 pr-lg-0 pl-lg-4">
                        <h4 th:text="${menu.menuText}" class="mb-3 text-gray-light"></h4>
                        <ul th:if="${menu.child!=null}" class="list-style-none">
                            <li th:each="cm:${menu.child}" class="mb-3">
                                <a th:href="${cm.menuLink}" class="link-gray"
                                   th:text="${cm.menuText}"
                                   th:target="${cm.isNewWin?'_blank':'_self'}"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <div class="container py-3">
                    <div class="tar py-3">
                        <uL class="copyList">
                            <li th:if="${footer.copyList!=null}" th:each="menu:${footer.copyList}">
                                <a th:href="${menu.menuLink}" th:target="${menu.isNewWin?'_blank':'_self'}"
                                   th:text="${menu.menuText}"></a>
                            </li>
                        </uL>
                    </div>
                    <div class="clear"></div>
                    <div class="tar py-3">
                        <uL class="copyList">
                            <li th:each="info:${performance.infor}" th:text="${info}"></li>
                        </uL>
                    </div>
                </div>
            </div>
            <div th:utext="${footer.analyticsCode}"></div>
        </footer>
    </body>
</html>