<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <body>
        <footer id="footer" th:fragment="footer(footer,performance)">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center bottom-separator">
                        <img src="https://cdn.renfei.net/images/home/under.png" class="img-responsive inline" alt="">
                    </div>
                    <div th:if="${footer.footerMenu!=null}"
                         th:each="menu:${footer.footerMenu}" class="col-md-3 col-sm-6 footerMenu">
                        <div class="testimonial bottom">
                            <h2 th:text="${menu.menuText}"></h2>
                            <ul th:if="${menu.child!=null}" class="list-style-none">
                                <li th:each="cm:${menu.child}" class="mb-3">
                                    <a th:href="${cm.menuLink}" class="link-gray"
                                       th:text="${cm.menuText}"
                                       th:target="${cm.isNewWin?'_blank':'_self'}"
                                       rel="nofollow noopener"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div style="height: 50px;clear: both;"></div>

                    <div class="col-sm-12">
                        <div class="copyright-text text-center">
                            <div class="tar py-3">
                                <uL class="copyList">
                                    <li th:if="${footer.copyList!=null}" th:each="menu:${footer.copyList}" style="font-size: 13px;">
                                        <a th:href="${menu.menuLink}" th:target="${menu.isNewWin?'_blank':'_self'}" rel="nofollow noopener"
                                           th:text="${menu.menuText}" style="color: #fff;"></a>
                                    </li>
                                    <li style="font-size: 13px;">Designed by <a target="_blank" style="color: #fff;" href="http://www.themeum.com" rel="nofollow noopener">Themeum</a></li>
                                </uL>
                            </div>
                            <div class="clear"></div>
                            <div class="tar py-3">
                                <uL class="copyList">
                                    <li th:each="info:${performance.infor}" th:text="${info}" style="font-size: 12px;"></li>
                                </uL>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:utext="${footer.analyticsCode}"></div>
            <script type='text/javascript' charset="UTF-8" th:each="js:${footer.jss}" th:src="${js}" async></script>
            <div id="fab" style="display: none;">
                <div id="fab-over">
                    <h1 style="color:red">ADBLOCK DETECTED!</h1>
                    您正在运行<b><span style="color:red">Ad Block</span>插件</b>或者在浏览器中启用了<b><span style="color:red">Ad Block</span> 设置</b>。<br>
                    如果要继续，请<b>禁用</b>此网站的AdBlock。
                    <br><br>
                    You are running an <b><span style="color:red">Ad Block</span> extension</b> or <b><span style="color:red">Ad Block</span> setting</b> is enabled in your browser.<br>If you wish to continue please <b>disable</b> AdBlock for this website.
                    <div class="fabok">
                        <a href="">OK</a>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>