<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <body>
        <header id="header" class="header" th:fragment="header(header)">
            <div class="logo"></div>
            <div class="lltabs" th:if="${header.menu2!=null}">
                <ul>
                    <li th:each="menu:${header.menu2}" th:class="${menu.active?'active':''}">
                        <a th:href="${menu.link}" th:text="${menu.name}"></a>
                    </li>
                </ul>
            </div>
            <div class="lltabs1"><img src="/img/tabs.png" alt=""></div>
            <ul class="lltabs1ul ulright">
                <li th:if="${header.menuVOS!=null}" th:each="menu:${header.menuVOS}">
                    <a th:href="${menu.menuLink}"
                       th:text="${menu.menuText}"
                       th:target="${menu.isNewWin?'_blank':'_self'}">
                        <i class="fa fa-angle-down"></i></a>
                </li>
            </ul>
        </header>
    </body>
</html>