<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="sidebar" class="sidebar">
            <div>
                Serch
            </div>
            <div class="itellyou360">
                <a href="https://www.aliyun.com/acts/hi-group-buying?userCode=mqe0f1u0" target="_blank">
                    <img src="/itellyou/aliyun300250.jpg" style="width: 100%">
                </a>
            </div>
        </div>
    </body>
</html>