<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="sidebar(sidebar)" class="sidebar blog-sidebar">
            <div class="sidebar-item">
                <div th:replace="layout/github::mygithub"></div>
            </div>
            <div class="sidebar-item">
                <div class="itellyou360">
                    <a href="https://www.aliyun.com/acts/hi-group-buying?userCode=mqe0f1u0" target="_blank">
                        <img src="/itellyou/aliyun300250.jpg" style="width: 100%">
                    </a>
                </div>
            </div>
            <div class="sidebar-item categories">
                <h3 th:if="${sidebar.categories!=null}">Categories</h3>
                <ul class="nav navbar-stacked">
                    <li th:if="${sidebar.categories!=null}" th:each="cat:${sidebar.categories}" th:class="${cat.activ?'active':''}">
                        <a th:href="${cat.link}" th:utext="${cat.categoriesName}+'<span class=\'pull-right\'>('+${cat.cnt}+')</span>'">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sidebar-item">
                <div class="row">
                    <div class="col-xs-6">
                        <h4>今日头条</h4>
                        <div class="sidebar-qrcode">
                            <img th:src="${'//'+sidebar.staticdomain+'/images/toutiao.jpeg'}" style="width: 100%">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <h4>微信公众</h4>
                        <div class="sidebar-qrcode">
                            <img th:src="${'//'+sidebar.staticdomain+'/images/wechat.jpg'}" style="width: 100%">
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="sidebar-item tag-cloud">-->
                <!--<h3>Tag Cloud</h3>-->
                <!--<ul class="nav nav-pills">-->
                    <!--<li><a href="#">Corporate</a></li>-->
                <!--</ul>-->
            <!--</div>-->
        </div>
    </body>
</html>