/***************
 * 全局样式
 ***************/
* {
    font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;
    text-decoration: none;
}

html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    height: auto;
    max-width: 100%;
    border-style: none;
}

ol, ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.clear {
    clear: both;
}

.px-2 {
    padding-right: 8px !important;
}

.px-3 {
    padding-left: 16px !important;
    padding-right: 16px !important;
}

.px-4 {
    padding-right: 24px !important;
}

.py-3 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.pl-2, .px-2 {
    padding-left: 8px !important;
}

.pl-3, .px-3 {
    padding-left: 16px !important;
}

.pl-4, .px-4 {
    padding-left: 24px !important;
}

.pb-4 {
    padding-bottom: 24px !important;
}

.mt-1 {
    margin-top: 4px !important;
}

.mt-6 {
    margin-top: 40px !important;
}

.mx-3 {
    margin-right: 16px !important;
    margin-left: 16px !important;
}

.col-6 {
    width: 50%;
}

.mb-5 {
    margin-bottom: 32px !important;
}

.mb-6 {
    margin-bottom: 40px !important;
}

.pr-3 {
    padding-right: 16px !important;
}

.text-normal {
    font-weight: 400 !important;
}

.d-none {
    display: none !important;
}

.flex-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}

.flex-justify-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
}

.flex-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.d-block {
    display: block !important;
}

.h4 {
    font-size: 16px !important;
}

.tar {
    text-align: right;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    border: 1px solid rgba(27, 31, 35, .2);
    border-radius: .25em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.btn {
    color: #24292e;
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
}

.btn-outline {
    color: #0366d6;
    background-color: #fff;
    background-image: none;
}

.btn-link {
    display: inline-block;
    padding: 0;
    font-size: inherit;
    color: #000000;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.site-main {
    display: block;
    min-height: 300px;
    color: #24292e;
    background-color: #fff;
}

/***************
 * 业务样式
 ***************/
.site-header {
}

.site-header a {
    color: #000000;
    font-weight: 400 !important;
}

.site-header a img {
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
}

.container {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
}

.main {
    padding: 5px;
    background-color: aquamarine;
}

.sidebar {
    height: 300px;
    padding: 5px;
    background-color: aqua;
}

.itellyou360 {
    width: 360px;
    height: 300px;
}

#primary-nav {
    text-align: right;
}

#primary-nav ul {
}

#primary-nav ul li {
    padding: 8px;
    list-style: none;
    position: relative;
}

#primary-nav ul li a {
}

#primary-nav ul li a:hover {
    color: #0366d6;
}

#primary-nav ul li ul {
    display: none;
    background: #fff;
    box-shadow: 0 1px 15px rgba(27, 31, 35, .15);
    margin: 0;
    min-width: 140px;
    padding: 10px 0;
    left: 50%;
    position: absolute;
    top: 30px;
    transform: translate(-50%);
    z-index: 5;
    text-align: center;
}

#primary-nav ul li:hover ul {
    display: block;
}

#primary-nav ul li ul li {
    padding: 8px;
}

#primary-nav ul li ul li a {
    font-weight: 400;
    line-height: 28px;
    font-size: 16px;
    text-align: left;
    padding: 4px 12px;
}

.main-banner {
    position: relative;
    height: auto;
}

.main-banner-text {
    position: relative;
    z-index: 1;
    -ms-flex-order: 2;
    order: 2;
    height: 100%;
    width: 100%;
    max-width: 1012px;
}

.main-banner-bg {
    bottom: 0;
    bottom: -73px;
    position: relative;
    margin-bottom: 0;
    -ms-flex-order: 1;
    order: 1;
}

.main-banner-text-title {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.5;
    margin-top: 18px;
}

.post-feed-top {
    background: #f6f8fa;
    padding-top: 177px;
    display: none;
}

.sub-categories {

}

.categories-list {
    border-left: 1px solid #d1d5da;
    position: relative;
}

.categories-list li {
    list-style: none;
}

.categories-list li a {
    color: #6a737d;
    display: inline-block;
    font-family: Roboto Mono, monospace;
    margin-bottom: 16px;
    padding: 0 0 0 20px;
    position: relative;
}

.categories-list li a:before {
    background: #d1d5da;
    content: "";
    display: block;
    height: 1px;
    left: -25px;
    position: absolute;
    top: 10px;
    width: 32px;
    z-index: 1;
}

.categories-list li a:last-child {
    margin-bottom: 0;
}

.categories-list:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -2px;
    width: 10px;
    height: 10px;
    background: #fff;
}

.featured {
    background: #f6f8fa;
    padding-bottom: 60px;
}

.underline-dash {
    background-image: linear-gradient(90deg, #d1d5da 50%, hsla(0, 0%, 100%, 0) 0);
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 10px 2px;
    display: inline;
    padding-bottom: 4px;
}

#footer {
    display: block;
}

.bg-gray-light {
    background-color: #fafbfc !important;
}

.p-responsive {
    padding-right: 16px !important;
    padding-left: 16px !important;
}

.videobox {
    width: 100%;
    padding-bottom: 56.25%;
    background: gold; /** <-- For the demo **/
    position: relative;
}

.videobox_2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.copyList {
    float: right;
}

.copyList li {
    list-style: none;
    float: left;
    margin-left: 12px;
    color: #616161;
    font-size: 12px;
}

.copyList li a {
    line-height: 20px;
    color: #616161;
    font-size: 12px;
}

/***************
 * 响应样式
 ***************/
@media screen and (max-width: 544px) {
    .col-sm-3 {
        width: 25%;
    }
}

/* 超小屏幕（手机，小于 768px） */
@media screen and (max-width: 768px) {
    .pr-md-0 {
        padding-right: 0 !important;
    }

    .mb-md-2 {
        margin-bottom: 8px !important;
    }

    .col-12 {
        width: 100%;
    }

    .pl-md-4, .px-md-4 {
        padding-left: 24px !important;
    }

    .main {
        width: 100%;
    }

    .sidebar {
        width: 100%;
    }

    .itellyou360 {
        display: none;
    }

    .main-banner-text {
        padding-top: 60px;
    }

    .featured {
        padding: 20px;
    }
}

/* 大屏幕（平板，大于等于 768px） */
@media screen and (min-width: 768px) {
    .col-4 {
        width: 33.33333%;
    }

    .col-8 {
        width: 66.66666%;
    }

    .main {
        width: calc(100% - 380px);
        float: left;
    }

    .sidebar {
        float: left;
        width: 360px;
    }

    .d-lg-flex {
        display: -ms-flexbox !important;
        display: flex !important;
    }

    .main-banner {
        height: 421px;
    }

    .main-banner-text-title {
        margin-top: 90px;
        font-size: 64px;
    }

    .main-banner-bg {
        content: "";
        height: 500px;
        position: absolute;
        right: 0;
        width: 1012px;
        z-index: 0;
        -ms-flex-order: 2;
        order: 2;
    }

    .post-feed-top {
        display: block;
    }

    .categories-list li a:first-child {
        margin-top: 20px;
    }

    .p-responsive {
        padding-right: 16px !important;
        padding-left: 16px !important;
    }

    .col-lg-2 {
        width: 16.66667%;
    }

    .col-lg-4 {
        width: 33.33333%;
    }
}
