<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head::head(${head})">
</head>
<body>
<header th:replace="layout/header::header(${header})"></header>
<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">Maven Agent Repository</h1>
                        <p>Maven公共代理仓库，助力开发者快速构建自己的项目。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="blog-details" class="padding-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="single-blog blog-details two-column">
                            <div class="post-content overflow">
                                <h2 class="post-title bold">Maven公共代理仓库</h2>
                                <h3 class="post-author"><a href="http://maven.renfei.net/" target="_blank">http://maven.renfei.net/</a>
                                </h3>
                                <p><a href="http://maven.renfei.net/" target="_blank">maven.renfei.net</a>代理了很多公共的maven仓库，助力开发者快速构建自己的项目。有效解决国内仓库速度慢、仓库包丢失的问题。
                                </p>
                                <p>
                                    在我使用Maven构建项目的日常开发中会经常遇到某个包找到不到，或者下载速度非常缓慢的情况。为了解决这个问题我搭建了自己的Maven私服，聚合常见的仓库，顺别将这个服务分享给大家一起使用。同时使用了CDN进行分发，速度会非常快。</p>
                                <p></p>
                                <p>最终的聚合仓库地址是：<a href="http://maven.renfei.net/repository/maven-public/"
                                                 target="_blank">http://maven.renfei.net/repository/maven-public/</a>
                                </p>
                                <h3>配置指南</h3>
                                <h4>Maven配置指南</h4>
                                <p>打开maven的配置文件(windows机器一般在maven安装目录的conf/settings.xml)，在 &lt;mirrors&gt;&lt;/mirrors&gt;
                                    标签中添加mirror子节点:
                                </p>
                                <p>
                                <pre>
                                <code class="xml hljs">&lt;mirror&gt;
    &lt;id&gt;renfeimaven&lt;/id&gt;
    &lt;mirrorOf&gt;*&lt;/mirrorOf&gt;
    &lt;name&gt;RenFei公共仓库&lt;/name&gt;
    &lt;url&gt;http://maven.renfei.net/repository/maven-public/&lt;/url&gt;
&lt;/mirror&gt;</code>
                            </pre>
                                </p>
                                <h4>gradle配置指南</h4>
                                <p>在build.gradle文件中加入以下代码:</p>
                                <p>
                                <pre>
                                <code class="lang-groovy hljs">allprojects {
    repositories {
        maven { url 'http://maven.renfei.net/repository/maven-public/' }
        mavenLocal()
        mavenCentral()
    }
}</code>
                            </pre>
                                </p>
                                <p></p>
                                <p></p>
                                <p>&nbsp;</p>
                                <h2 class="post-title bold">代理的仓库列表</h2>
                                <p>
                                <table class="table table-striped" style="max-width: 600px; margin: auto;">
                                    <thead>
                                    <td>仓库名称</td>
                                    <td>代理源地址</td>
                                    </thead>
                                    <tr>
                                        <td>public</td>
                                        <td>所有仓库的聚合：<br><a href="http://maven.renfei.net/repository/maven-public/"
                                                           target="_blank">http://maven.renfei.net/repository/maven-public/</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>central</td>
                                        <td>https://repo1.maven.org/maven2/</td>
                                    </tr>
                                    <tr>
                                        <td>jcenter</td>
                                        <td>http://jcenter.bintray.com/</td>
                                    </tr>
                                    <tr>
                                        <td>google</td>
                                        <td>https://maven.google.com/</td>
                                    </tr>
                                    <tr>
                                        <td>gradle-plugin</td>
                                        <td>https://plugins.gradle.org/m2/</td>
                                    </tr>
                                    <tr>
                                        <td>spring</td>
                                        <td>http://repo.spring.io/libs-milestone/</td>
                                    </tr>
                                    <tr>
                                        <td>spring-plugin</td>
                                        <td>http://repo.spring.io/plugins-release/</td>
                                    </tr>
                                    <tr>
                                        <td>grails-core</td>
                                        <td>https://repo.grails.org/grails/core</td>
                                    </tr>
                                    <tr>
                                        <td>apache snapshots</td>
                                        <td>https://repository.apache.org/snapshots/</td>
                                    </tr>
                                    <tr>
                                        <td>aliyun</td>
                                        <td>https://maven.aliyun.com/repository/public</td>
                                    </tr>
                                    <tr>
                                        <td>163</td>
                                        <td>http://mirrors.163.com/maven/repository/maven-public/</td>
                                    </tr>
                                </table>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="layout/footer::footer(${footer},${performance})"></footer>
</body>
</html>