* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #333;
  text-decoration: none;
}
p{
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
}
ol,ul {
  list-style: none;
}

body {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  font-size: 14px;
  color: #333;
}

#index {
  width: 100%;
  height: 100%;
  position: relative;
}

.header {
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  position: fixed;
  box-shadow: 1px 1px 15px #ccc;
  z-index: 1;
}

.header>.logo {
  width: 40%;
  height: 50px;
  position: absolute;
  top: 5px;
  left: 20px;
  background: url("../img/header.png") no-repeat;
  background-size: contain;
}
.header>.lltabs{
  width:60%;
  position: absolute;
  height:40px;
  left: 29%;
  top: 10px;
}
.header>.lltabs>ul{
  width:100%;
  height:40px;
  background: url("../img/tabs1.png") no-repeat center;
  background-size: cover;
  position: relative;
}
.header>.lltabs.llsheying>ul{
  background: url("../img/tabs2.png") no-repeat center;
  background-size: cover;
}
.header>.lltabs>ul>li{
  display:inline-block;
  width:15.75%;
  height:40px;
  line-height:40px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
}
.header>.lltabs>ul>li.active{
  width:18.5%;
  background: url("../img/tabs1-active.png") no-repeat center;
  background-size: cover;
  color:#fff;
}
/* 不同屏幕 */
@media (max-width: 1400px) {
  .header>.lltabs>ul,.header>.lltabs.llsheying>ul{
    background-size: contain;
  }

  .header>.lltabs>ul>li.active{
    background-size: contain;
  }
}
 
@media (min-width: 1060px) and (max-width: 1280px) {
  .header>.lltabs>ul,.header>.lltabs.llsheying>ul{
    background-size: contain;
  }
  .header>.lltabs>ul>li{
    width:15%;
  }
  .header>.lltabs>ul>li.active{
    background-size: contain;
    width:19.5%;
  }
}
/* 平板电脑和小屏电脑之间的分辨率 */
@media  (max-width: 1060px) { 
  .header>.lltabs>ul,.header>.lltabs.llsheying>ul{
    background-size: contain;
  }
  .header>.lltabs>ul>li{
    width:14.75%;
  }
  .header>.logo{
    width:25%;
    top:10px;
  }
  .header>.lltabs>ul>li.active{
    background-size: contain;
    width:19.5%;
  }
}

.header>.lltabs1 {
  position: absolute;
  top: 20px;
  right: 20px;
}

.header>ul {
  width: 200px;
  height: auto;
  background-color: #ffffff9c;
  border-radius: 10px;
  padding: 50px 0;
  position: absolute;
  top: 60px;
  right: 20px;
}
.header>ul.lltabs1ul{
  display: none;
}
.header>ul>li {
  text-align: center;
  line-height: 38px;
}
.header>ul>li>a:hover{
  color:red;
  font-weight: bold;
}
.banner {
  width: 100%;
  background-color: #efeff3;
  position: absolute;
  top: 60px;
  left: 0;
}

.banner>img {
  width: 100%;
  height: 95%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.banner>.lltext {
  width: 50%;
  position: absolute;
  top: 34%;
  left: 26%;
  color: #fff;
  font-size: 16px;
  line-height: 25px;
  text-indent: 2em;
}

.banner>.lltext>h1 {
  position: absolute;
  top: 34%;
  left: -23%;
}
.banner>.lltext>h1:nth-child(2) {
  position: absolute;
  top: 126%;
  left: -23%;
}

.banner>.lltext>p {
  margin-bottom: 10px;
}

.footer {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 1px 1px 15px #ccc;
}

/* 廉洁故事征文 */
.banner.redbg{
  background-color: #b2161a;
}
.banner.redbg>div{
  width:80%;
  margin:0 auto;
  padding-bottom:60px;
}
.banner.redbg>div>.llnav{
  text-align:left;
  color:#ffffffd9;
  line-height:56px;
}
.banner.redbg>div>.textdesc{
  height:110px;
  display: -webkit-flex; 
  display: flex;	
  /* for uc */
  display: -webkit-box; 
  display: -ms-flexbox; /* TWEENER - IE 10 */
  justify-content: space-between;
  align-items : center; 
}
.banner.redbg>div>.textdesc>div.huojiang{
  background: url('../img/biaoqian.png') no-repeat left;
  background-size: contain;
  text-align:left;
  padding: 15px 30px 0 25px;
  width: 20%;
  line-height: 25px;
}
.banner.redbg>div>.textdesc>div.huojiang>p{
  width:70%;
}
.banner.redbg>div>.textdesc>div.texttitle{
  text-align: center;
  width: 78%;
  font-size: 30px;
  color:#ffffff;
  line-height:110px;
}
.banner.redbg>div>.textdesc>div.texttitle>img.meishu.shu{
  width:447px;
  height:747px;
}
.banner.redbg>div>.textdesc>div.texttitle>img.shufa.shu{
 width:21%;
}
.banner.redbg>div>.textmain{
  margin-top:20px;
  color:#ffffffd9;
  line-height:23px;
}
.banner.redbg>div>.textmain>p{
  overflow: visible;
  white-space:unset;
}
.banner.redbg>div>.textmain>img.heng{
  width:100%;
  height:50%;
}
/* 书法、美术、廉洁征文轮播图 */
.banner.lllist{
  background: url("../img/list.png") repeat center;
  background-size: contain;
}
.banner.lllist1{
  background: url("../img/sheying.png") no-repeat;
  background-size: cover;
}
.banner>.shufacontain{
  width:90%;
  height:100%;
  margin: 0 auto;
  padding-top:20px;
}
.banner>.shufacontain .llslide{
  height:100%;
  position: absolute;
  bottom:0;
}
.banner>.shufacontain .llslide>img{
  margin-bottom:-5px;
  width:100%;
  height:100%;
}
.banner>.shufacontain .llslide>.suoluetu{
  width:65.65%;
  height:37.83%;
  position: absolute;
  top:26.41%;
  left:17.11%; 
  overflow: hidden;
}
.suoluetu>img{
  width:100%;
  height:100%;
}
.suoluetu>a>img{
  width:100%;
  height:100%;
}
.suoluetu.lltext{
padding: 16px;
}
.suoluetu>p{
  font-size: 12px;
  overflow: visible;
  white-space: normal;
  text-overflow: ellipsis;
  padding-bottom: 10px;
}
.suoluetu>p:first-child{
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
.splidedesc{
  position: absolute;
  width:65.65%;
  height:100px;
  left:17.11%;
  top:68.41%;
  color:#fff;
  font-size:14px;
}
.splidedesc>p{
  text-align: left;
  padding: 0 20px;
}
.splidedesc>p:first-child{
  text-align: center;
}

/* 摄影 */
.banner>.sheyingcontain {
  width: 70%;
  position: relative;
  padding-bottom: 20px;
}

.gallery-thumbs .swiper-wrapper {
  flex-direction: column;
}

.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: 0;
  margin-right: auto;
  z-index:0;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.gallery-top {
  height: 100%;
  width: 80%;
  z-index: 0;
  display: inline-block;
}

.gallery-thumbs {
  width: 18%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px 0;
  z-index: 0;
  display: inline-block;
}

.gallery-thumbs .swiper-slide {
  width: 100% !important;
  height: 25%;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.sp-caption-container {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #cccccc59;
}
.sp-thumbnails.sp-grab.sp-animated,.sp-thumbnail-container,.sp-thumbnails.sp-grab,.sp-thumbnails.sp-grab img{
  width:175px!important;
}