<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head::head(${head})">
</head>
<body>
<div id="index">
    <header th:replace="layout/header::header(${header})"></header>
    <div class="banner lllist">
        <div class="shufacontain">
            <div class="swiper-container">
                <div class="swiper-wrapper">

                    <div class="swiper-slide" th:if="${postsDOWithBLOBs!=null}" th:each="post:${postsDOWithBLOBs}">
                        <div class="llslide">
                            <img src="/img/jiaxun.png" alt="">

                            <div class="suoluetu lltext" th:if="${post.categoryId==1||post.categoryId==2}">
                                <p th:text="${post.title}">父亲，我的榜样</p>
                                <a th:href="${'/lianjiewenhua/'+url+'/'+post.id}">
                                    <p th:utext="${post.content}"></p>
                                </a>
                            </div>
                            <div class="suoluetu" th:if="${post.categoryId==3||post.categoryId==4}">
                                <a th:href="${'/lianjiewenhua/'+url+'/'+post.id}">
                                    <img th:src="${'/doc/书法作品/'+post.content}" alt="">
                                </a>
                            </div>
                            <div class="splidedesc">
                                <p th:text="${post.prizeName}">一等奖</p>
                                <p th:text="${'作品：'+post.title}">《江南造船》</p>
                                <p th:text="${'作者：'+post.sourceName}">作者：周建国</p>
                                <p th:text="${'单位：'+post.sourceUrl}">单位：厂船国际</p>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- <div class="swiper-button-prev"></div> -->
                <!-- <div class="swiper-button-next"></div> -->
                <!-- <div class="swiper-pagination"></div> -->
            </div>
        </div>
    </div>
    <footer th:replace="layout/footer::footer(${footer},${performance})"></footer>
    <script>
        var containh = $(".shufacontain").height();
        effect = 0
        var swiper = new Swiper('.swiper-container', {
            height: 800,
            // loop: true,
            speed: 500,
            slidesPerView: 4,
            spaceBetween: 30,
            // centeredSlides: true,
            // watchSlidesProgress: true,
            on: {
                // setTranslate: function () {
                //   slides = this.slides
                //   for (i = 0; i < slides.length; i++) {
                //     slide = slides.eq(i)
                //     progress = slides[i].progress
                //     //slide.html(progress.toFixed(2)); 看清楚progress是怎么变化的
                //     slide.css({ 'opacity': '', 'background': '' }); slide.transform('');//清除样式
                //   }
                // },
                setTransition: function (transition) {
                    for (var i = 0; i < this.slides.length; i++) {
                        var slide = this.slides.eq(i)
                        slide.transition(transition);
                    }
                },
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
        });

    </script>
</div>
</body>
</html>